<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="assets/goodreads-logo.jpg" alt="" width="200" height="100">
        </a>
        
        <form class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
    
              </div>
              <input type="text" class="form-control" placeholder="Search books" aria-label="Username" aria-describedby="basic-addon1">
              <span class="input-group-text" id="basic-addon1">@</span>
            </div>
          </form>

    </div>
</nav>