<nav class="navbar navbar-light bg-light">

  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/goodreads-logo.jpg" alt="" width="200" height="100">
    </a>

    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="container">
        
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            Home
                        </a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link active" href="#">
                            My Books
                        </a>
                    </li>
        
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="browseDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Browse
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="browseDropdown">
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Recommendations
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Choice Awards
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Genres
                                </a>
                            </li>
                        </ul>
                    </li>
        
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="communityDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                            Community
                        </a>
        
                        <ul class="dropdown-menu" aria-labelledby="communityDropdown">
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Groups
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                   Discussions
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Quotes
                                </a>
                            </li>
                        </ul>
        
                    </li>
                </ul>
            </div>
        </nav>
        </div>
        <input type="text" class="form-control" placeholder="Search books">
        <span class="input-group-text"width="25"height ="8" id="basic-addon1">

          <svg class="bi" width="13" height="13" fill="darkbrown">
            <use xlink:href="assets/bootstrap-icons.svg#search" />
          </svg>
        </span>
      </div>
    </form>

    <svg class="bi" width="20" height="20" fill="C8C0B0">
      <use xlink:href="assets/bootstrap-icons.svg#bell" />
    </svg>

    <svg class="bi" width="20" height="20" fill="C8C0B0">
      <use xlink:href="assets/bootstrap-icons.svg#chat-text" />
    </svg>

    <svg class="bi" width="20" height="20" fill="C8C0B0">
      <use xlink:href="/assets/bootstrap-icons.svg#envelope" />
    </svg>

    <svg class="bi" width="20" height="20" fill="C8C0B0">
      <use xlink:href="/assets/bootstrap-icons.svg#people" />
    </svg>

    <svg class="bi" width="20" height="20" fill="C8C0B0">
      <use xlink:href="/assets/bootstrap-icons.svg#person" />
    </svg>

  </div>
</nav>