
<nav class="top-navbar">
  <span class="navbar-brand mb-0 h1">
  <a class="black-history-month-icon">
  <img src="assets/black-history-month-icon.png" alt=""width="28" height="28">
</a>
<p class="top-navbar-text">Celebrating Black History Month</p>
</span>
</nav>



<nav class="navbar navbar-light py-0">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/gr-logo.png" alt="" width="160" height="40">
    </a>

    <form class="form-inline">
      <div class="input-group">
        <div class="input-group-prepend">
          <nav class="navbar-expand navbar-light" style="background-color: F6F1EB">
            <div class="container">
        
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Home
                        </a>
                    </li>
        
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            My Books
                        </a>
                    </li>
        
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" href="#" id="browseDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Browse
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="browseDropdown">
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Recommendations
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Choice Awards
                                </a>
                            </li>
        
                            <li class="nav-item">
                                <a class="dropdown-item" href="#">
                                    Giveaways
                                </a>
                            </li>
                            <li class="nav-item">
                              <a class="dropdown-item" href="#">
                                  New Releases
                              </a>
                          </li>
                          <li class="nav-item">
                            <a class="dropdown-item" href="#">
                                Lists
                            </a>
                        </li>

                        <li class="nav-item">
                          <a class="dropdown-item" href="#">
                              Explore
                          </a>
                      </li>

                      <li class="nav-item">
                        <a class="dropdown-item" href="#">
                            News & Interviews
                        </a>
                    </li>

                        </ul>
                    </li>
        
                    








                    <li class="nav-item dropdown">
                      <a class="nav-link active dropdown-toggle" href="#" id="communityDropdown" role="button"
                          data-bs-toggle="dropdown" aria-expanded="false">
                          Community
                      </a>
                      <ul class="dropdown-menu" aria-labelledby="communityDropdown">
                          <li class="nav-item">
                              <a class="dropdown-item" href="#">
                                  Groups
                              </a>
                          </li>
      
                          <li class="nav-item">
                              <a class="dropdown-item" href="#">
                                  Discussions
                              </a>
                          </li>
      
                          <li class="nav-item">
                              <a class="dropdown-item" href="#">
                                  Quotes
                              </a>
                          </li>
                          <li class="nav-item">
                            <a class="dropdown-item" href="#">
                                Ask the Author
                            </a>
                        </li>
                        <li class="nav-item">
                          <a class="dropdown-item" href="#">
                              Trivia
                          </a>
                      </li>

                      <li class="nav-item">
                        <a class="dropdown-item" href="#">
                            Quizzes
                        </a>
                    </li>

                    <li class="nav-item">
                      <a class="dropdown-item" href="#">
                          Creative Writing
                      </a>
                  </li>

                  <li class="nav-item">
                    <a class="dropdown-item" href="#">
                        People
                    </a>
                </li>

                      </ul>
                  </li>
                </ul>
            </div>
        </nav>
        </div>
        <input type="text" class="form-control" placeholder="Search books">


          <svg class="bi" width="15" height="15">
            <use xlink:href="assets/bootstrap-icons.svg#search" />
          </svg>
 
      </div>
    </form>
    

    <a class="icon-color">
    <svg class="bi" width="25" height="25">
      <use xlink:href="assets/bootstrap-icons.svg#bell" />
    </svg>
  </a>

  <a class="icon-color">
    <svg class="bi" width="25" height="25">
      <use xlink:href="assets/bootstrap-icons.svg#chat-text" />
    </svg>
  </a>

  <a class="icon-color">
    <svg class="bi" width="25" height="25">
      <use xlink:href="/assets/bootstrap-icons.svg#envelope" />
    </svg>
  </a>

  <a class="icon-color">
    <svg class="bi" width="25" height="25">
      <use xlink:href="/assets/bootstrap-icons.svg#people" />
    </svg>
  </a>
  <a class="icon-color">

    <svg class="bi" width="25" height="25">
      <use xlink:href="/assets/bootstrap-icons.svg#person" />
    </svg>
</a>
  </div>
</nav>
