.gr{
    outline-style: solid;
    outline-color:brown;
    outline-width: 10px;
}

body {
    background-color: F7F2EC;
  }

  
 a.dropdown-item:hover {
     border-bottom-style: solid;
     background-color: white;
 }
 .icon-color{
     fill: #B9AD9A;
 }

 