
.navbar {
    background-color: #F4F1EA;
    border-bottom-style: solid;
    border-top: none;
    border-bottom: 1px solid #DDDBD7;;
    max-height: 80px !important;
 }
 .black-history-month-icon{
   position: relative;
   top: 0.25em;
   left: 28em;
 }
 .top-navbar-text{
     position: relative;
     bottom: 1em;
     left: 33em;
     font-family: 'Times New Roman', Times, serif;
     font-size: large;
     font-weight: 400;
 }
 .input-group-text{
     height: 30px;
 }
 .form-control{
    width: 400px;
    height: 30px;

 }
 .input-group-text, .form-control{
     position: relative;
     top: 0.45em;

 }
 .top-navbar{
background-color:  #B8BFFD !important;
height: 40px;
 }

 
 .icon-color{
     position: relative;
     bottom: 1em;
 }
.bi{
    position: relative;
    top: 1em;
    right: 1.5em;
    fill: #A8A8A8;
        
}
.gr{
    outline-style: solid;
    outline-color:brown;
    outline-width: 10px;

}
.nav-link:hover{
   color: white !important;
}
 .nav-item:hover{
background-color: #382110;

 } 
 

 a.dropdown-item:hover {
     border-bottom-style: solid;
     background-color: white;
     text-decoration: underline;
 }
 .icon-color{
     fill: #B9AD9A;
 }





 