.header{
background-color: #B8BFFD;
}

.navbar {
    background-color: #F4F1EA;
    border-bottom-style: solid;
    border-top: none;
    border-bottom: 2px solid #DDDBD7;;
    max-height: 80px !important;
 }
 .input-group-text{
     height: 30px;
 }
 .form-control{
    width: 400px;
    height: 30px;

 }
 .input-group-text, .form-control{
     position: relative;
     top: 0.45em;

 }
 
 .icon-color{
     position: relative;
     bottom: 1em;
 }
.bi{
    position: relative;
    top: 1em;
    right: 1.5em;
}
.gr{
    outline-style: solid;
    outline-color:brown;
    outline-width: 10px;

}
.nav-link:hover{
   color: white !important;
}
 .nav-item:hover{
background-color: #382110;

 } 
 

 a.dropdown-item:hover {
     border-bottom-style: solid;
     background-color: white;
     text-decoration: underline;
 }
 .icon-color{
     fill: #B9AD9A;
 }





 