<div class="container">
    <div class="row">
        <div class="col-0">
            <form action="">
            <form #postForm="ngForm"(ngSubmit)="addProduct(postForm.value)">

            <div class="input-group">
                <span class = "input-group-text">Hello World</span>
                <span class = "input-group-text">Password</span>
            <input type="text" class="form-control" ngModel name ="img">
            </div>

            <div class="input-group">
                <span class = "input-group-text">Price</span>
            <input type="text" class="form-control">
            </div>

            <button class="btn btn-light" type="submit" [disabled]="!postForm.valid">
                Add Product
            </button>


        </form>
        </div>
    </div>