<body>
    <html>

    
    <div class="card text-center" style="width: 30rem;">
        <div class="card-body">
          <h5 class="card-title">Sign in to Goodreads</h5>
          <div class="facebook m-3">
            <a href="#" class="btn btn facebook">Continue with Facebook</a>
          </div>
          <div class="amazon m-3">
            <a href="#" class="btn btn amazon">Continue with Amazon</a>
          </div>
          <div class="apple m-3">
            <a href="#" class="btn btn apple">Continue with Apple</a>
          </div>
          <div class="google m-3">
            <a href="#" class="btn btn google">Continue with Google</a>
          </div>
        </div>

        <form>
            <div class="form-group">
                <div class="label">
              <label for="exampleInputEmail">Email address</label>
            </div>
              <input type="email" class="form-control" placeholder="you@yours.com">
            </div>
            <div class="form-group">
                <div class="label">
              <label for="exampleInputPassword1">Password</label>
            </div>
              <input type="password" class="form-control">
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input">
              <div class="label">
              <label class="form-check-label" for="exampleCheck1">Keep me signed in</label>
            </div>
        </div>
            <button type="submit" class="btn btn-light">Sign in</button>
          </form>
      </div>


      </html>  
</body>