<p class= "title"> Giveaways</p>
<p class= "description"> Enter to win <span class="emphasized">free</span> books sponsored by authors and publishers.</p>

<button type="button" class="btn btn-outline">Featured</button>
<button type="button" class="btn btn-outline">Ending</button>
<button type="button" class="btn btn-outline">Recent</button>
<button type="button" class="btn btn-outline">Popular</button>
<button type="button" class="btn btn-outline">Filters</button>

<div class="card mb-3" style="max-width: 550px">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="assets/my-summer-in-seoul.jpg" class="card-img" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">My Summer in Seoul</h5>
          <p class="card-text">Rachel Van Dyken</p>
          <p class="card-text"><small class="text-muted"> <span class="bolded">Feb 25 - Mar 11</span> ∙ 1,046 entries ∙ US only</small></p>
         <div class ="enter-giveaway"> 
          <button type="button" class="btn btn-dark">Enter Giveaway</button>
        </div>
          <p class="card-text">From #1 New York Times bestselling author Rachel Van Dyken comes a standalone new adult romance set in the competitive world of K-pop.</p>
          <p class="card-text"> It’s not all K-dramas and happily ever afters.</p>
          
        </div>
      </div>
    </div>
  </div>

