<div class="card" style="width: 13rem;">
    <img src="assets/beautiful-world_book.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <button type="button" class="btn btn-success">Want to Read</button>   
    </div>
  </div>

  <div class="card" style="width: 13rem;">
    <img src="assets/the-last-thing-he-told-me_book.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <button type="button" class="btn btn-success">Want to Read</button>   
     </div>
  </div>