.card{
    width: 8em;
    border-style: none;
}
.link{
    position: absolute;
    top: 18em;
color: teal;
font-size:small;
text-decoration: none;
}

.link:hover{
    text-decoration: underline;
}
.btn{
    background-color: #409D68;
    position: absolute;
    top: 18.5em;
    right: 2em;
    font-size: 10.5px;
}