.card{
border-style: none;
}

  .ChoiceAwards{
    position: absolute;
    top: 20em;
    right: 0;
    background-color: #32362D;
  }
  .card-banner{
    position: absolute;
    top: 22.5em;
    right: 7.5em;
    font-weight: bold;
    font-size: 13px;
  }


