

<div class="card mb-3" style="max-width: 350px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1328334319l/6638924.jpg"
        class="img-fluid rounded-start" alt="Card image" style="width:70%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="a" class="card-link">We</a>
      </div>

      <p class="card-text">by Yevgeny Zamyatin</p>
      <p class="card-text"><small class="text-muted">Update progress</small></p>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 350px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1489673871l/34039808._SY475_.jpg"
        class="img-fluid rounded-start" alt="Card image" style="width:70%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="a" class="card-link">Oathbringer (The Stormlight Archive, #3)</a>
      </div>

      <p class="card-text">by Brandon Sanderson</p>
      <p class="card-text"><small class="text-muted">Update progress</small></p>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 350px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="https://i.gr-assets.com/images/S/compressed.photo.goodreads.com/books/1590786059i/41139487._SY180_.jpg"
        class="img-fluid rounded-start" alt="Card image" style="width:70%">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="a" class="card-link">We Hunt the Flame (Sands of Arawiya, #1)</a>
      </div>

      <p class="card-text">by Hafsah Faizal</p>
      <p class="card-text"><small class="text-muted">Update progress</small></p>
    </div>
  </div>


</div>

<div id="content">

  <p class="card-banner">GOODREADS CHOICE AWARDS</p>
  <img src="https://s.gr-assets.com/assets/award/2021/choice-logo-home-module-medium-d1fd6c874fdf7f40c63631315522cb8b.png" class="ChoiceAwards"alt="Card image">
</div>