
.card{
  border-style: none;
  position: relative;
  top: 1.75em;
  left: 2em;
  background-color: #F9F7F3;
  }

  .img-fluid {
    width: 70%;
  }
  .btn{
    position: relative;
    bottom: 2em;
    width: 100px;
     height: 25px;
    font-size: x-small;
       
  }

  .card-body{
    position: relative;
    bottom: 1.25em;
    right: 1em;
  }
  .black-history-month-banner{
    border-style: solid;
    border-width: 0.1em;
    border-color: #D8D8D8;
    position: absolute;
    top: 7em;
    right: 25em;
  }
    .ChoiceAwards{
      position: absolute;
      top: 17em;
      right: 0;
      background-color: #32362D;
    }
    .card-banner{
      position: absolute;
      top: 19em;
      right: 7.5em;
      font-weight: bold;
      font-size: 13px;
    }
  
    .book-banner{
      position: absolute;
      top: 3em;
      left: 5em;
      font-weight: bold;
      font-size: 13px;
    }
    a {
      color: black;
      font-weight: 600;
      text-decoration: none;
      font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
    }
    a:hover {
      color: black;
      background-color: transparent;
      text-decoration: underline;
    }
    .author:link{
      color: black;
       font-weight: normal;
       background-color: transparent; 
       font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
       position: relative;
       bottom: 2em;
     }
    .author:hover{
      text-decoration: underline;
    }
    .banner-title{
      font-weight: 440;
      text-align: center;
    }
  