

<div class="card mb-3" style="max-width: 350px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src= {{img}}
        class="img-fluid rounded-start" alt="Card image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <a href="a" class="title">{{title}}</a>
      </div>
      <a href="a" class="author">{{author}}</a>
      <div>
      <button type="button" class="btn btn-outline-dark btn-sm">Update progress</button>
    </div>
    </div>
  </div>
</div>



<div id="content">

  <p class="card-banner">GOODREADS CHOICE AWARDS</p>
  <img src="https://s.gr-assets.com/assets/award/2021/choice-logo-home-module-medium-d1fd6c874fdf7f40c63631315522cb8b.png" class="ChoiceAwards"alt="Card image">
</div>

<div class="black-history-month-banner" style="max-width: 30rem;">
  <img src="https://images.gr-assets.com/misc/1643385903-1643385903_goodreads_misc.png" class="card-img-top" alt="..." style="width:100.5%">
  <div class="card-body">

    <a href="a" class="banner-title">Celebrating Black History Month</a>
    <p class="card-text"><small class="text-muted">Observe the month by these new and upcoming books by Black authors.</small></p>
  </div>