<app-topnavbar>Loading...</app-topnavbar>

<div class="container">
    <div *ngFor="let category of category_list">
        <app-category-card title={{category.title}} author={{category.author}}>Loading...</app-category-card>
    </div>
</div>


<div class="container-fluid d-flex">
    <app-vertical-card img="./assets/assassins-blade_book.jpeg">Loading...</app-vertical-card>
    <app-vertical-card img="./assets/these-violent-delights_book.jpeg">Loading...</app-vertical-card>
    <app-vertical-card img="./assets/from-blood-and-ash_book.jpeg">Loading...</app-vertical-card>
    <app-vertical-card img="./assets/crescent-city_book.jpeg"> Loading...</app-vertical-card>
    <app-vertical-card img="./assets/strange-the-dreamer_book.jpeg"> Loading...</app-vertical-card>
</div>

<div class="container-fluid d-flex">
    <app-horizontal-card> Loading...</app-horizontal-card>
    <app-horizontal-card> Loading...</app-horizontal-card>
</div>

<div class="container-fluid d-flex">

<div *ngFor="let product of products">
    <app-vertical-card img={{product.img}}> Loading... </app-vertical-card>

</div>
</div>



<app-footer> Loading...</app-footer>