 <app-topnavbar>Loading...</app-topnavbar>
<app-category-card>Loading...</app-category-card>

<div class="container-fluid d-flex"> 
<app-vertical-card img="./assets/assassins-blade_book.jpeg">Loading...</app-vertical-card>
<app-vertical-card img="./assets/these-violent-delights_book.jpeg">Loading...</app-vertical-card>
<app-vertical-card img="./assets/from-blood-and-ash_book.jpeg">Loading...</app-vertical-card>
<app-vertical-card img="./assets/crescent-city_book.jpeg"> Loading...</app-vertical-card>
<app-vertical-card img="./assets/strange-the-dreamer_book.jpeg"> Loading...</app-vertical-card>
</div>

<div class="container-fluid d-flex"> 
<app-horizontal-card> Loading...</app-horizontal-card>
<app-horizontal-card> Loading...</app-horizontal-card>
</div>




<app-footer>
    Loading...
</app-footer>
 